name: Deploy Prod PakarGaming Client

on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy Client (Prod)
    runs-on: [self-hosted, main]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Dashboard
        shell: bash
        run: |
          set -e

          echo "Workspace: $GITHUB_WORKSPACE"
          cd "$GITHUB_WORKSPACE"

          echo "Listing files"
          ls -la

          docker compose -f docker-compose.main.yml down || true
          docker compose -f docker-compose.main.yml build
          docker compose -f docker-compose.main.yml up -d
